.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .footer{
    background: var(--color-primary);
}

.footer__grid{
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 20px;
    align-items: center;
}

.footer__title{
    font-weight: 400;
    background: #ffffff;
    color: var(--color-primary);
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
    border: 1px solid #ffffff;
    border-radius: 30px;
}

.footer__icons{
    display: flex;
    justify-content: space-evenly;
}

.footer__container-icons{
    display: inline-block;
    width: 60px;
    height: 60px;
    color: #ffffff;
    text-align: center;
    border: 1px solid #ffffff;
    border-radius: 50%;
}

.footer__icon--wp{
    color: inherit;
    font-size: 38px;
    text-decoration: none;
    margin: 9px;
    margin-left: 10px;
}

.footer__icon--ig{
    color: inherit;
    font-size: 38px;
    text-decoration: none;
    margin: 9px;
}

.footer__icon--tl{
    color: inherit;
    font-size: 38px;
    text-decoration: none;
    margin: 9px;
    margin-left: 5px;
}

.footer__icon--git{
    color: inherit;
    font-size: 38px;
    text-decoration: none;
    margin: 9px;
    margin-left: 9px;
}

.footer__icon--wp:hover{
    color: #0ce00c;
    transition: .2s all;
    transform: scale(1.3);
}

.footer__icon--ig:hover{
    color: #dd6819;
    transition: .2s all;
    transform: scale(1.3);
}

.footer__icon--tl:hover{
    color: #4762db;
    transition: .2s all;
    transform: scale(1.3);
}

.footer__icon--git:hover {
    color: #000;
    transition: .2s all;
    transform: scale(1.3);
}

.fab.footer__icon {
    line-height: 60px;
}

.nav__items--footer{
    font-size: 1.05rem;
}

.nav__items--footer:hover{
    text-decoration: underline;
}